<section class="bg-main-light rounded p-4 my-3 w-75 mx-auto">
    <h1>Register Now</h1>
    <form [formGroup]="registerform" (ngSubmit)="handlform()">
        <div class="mb-2">
            <label for="name">Name :</label>
        <input
        #inputname
        formControlName="name" type="text" id="name" class="form-control">
        <div class="alert alert-danger" *ngIf="registerform.get('name')?.errors && (registerform.get('name')?.touched || inputname.value.length >0)" >
            <p *ngIf="registerform.get('name')?.getError('required')">Name is Required</p>
            <p *ngIf="registerform.get('name')?.getError('minlength')">Name min Length 3</p>
            <p *ngIf="registerform.get('name')?.getError('maxlength')">Name max Length 20</p>

        </div>
        </div>
        <div class="mb-2">
            <label for="email">Email  :</label>
        <input
        #inputEmaill
        formControlName="email" type="email" id="email" class="form-control">
        
        <div class="alert alert-danger" *ngIf="registerform.get('email')?.errors && (registerform.get('email')?.touched||inputEmaill.value.length >0)" >
            <p *ngIf="registerform.get('email')?.getError('required')">Email is Required</p>
            <p *ngIf="registerform.get('email')?.getError('email')">Email in valid</p>

        </div>

        </div>
        <div class="mb-2">
            <label for="password">Password :</label>
        <input
        #inputpasword
        formControlName="password" type="password" id="password" class="form-control">

        <div class="alert alert-danger" *ngIf="registerform.get('password')?.errors && (registerform.get('password')?.touched||inputpasword.value.length >0)" >
            <p *ngIf="registerform.get('password')?.getError('required')">password is Required</p>
            <p *ngIf="registerform.get('password')?.getError('pattern')"> password must start with upperCase then from 6 to 10 </p>

        </div>

        </div>
        <div class="mb-2">
            <label for="password">rePassword :</label>
        <input 
        #inputRepassword
        formControlName="rePassword" type="password" id="repassword" class="form-control">

        <div class="alert alert-danger" *ngIf="registerform.get('rePassword')?.errors && (registerform.get('rePassword')?.touched||inputRepassword.value.length >0)" >
            <p *ngIf="registerform.get('rePassword')?.getError('required')">rePassword is Required</p>
            <p *ngIf="registerform.get('rePassword')?.getError('pattern')"> rePassword must start with upperCase then from 6 to 10 </p>

        </div>
        </div>
        <div class="mb-2">
            <label for="phone">Phone :</label>
        <input
        #inputPhone
        formControlName="phone" type="tel" id="phone" class="form-control">
        <div class="alert alert-danger" *ngIf="registerform.get('phone')?.errors && (registerform.get('phone')?.touched||inputPhone.value.length > 0)" >
            <p *ngIf="registerform.get('phone')?.getError('required')">Phone is Required</p>
            <p *ngIf="registerform.get('phone')?.getError('pattern')"> Accept only egypt phone numbers </p>

        </div>
        </div>
        <button [disabled]="registerform.invalid"  class="btn-main ms-auto d-block">
            
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            
            Register</button>
         <p *ngIf="msgError" class="alert alert-danger">{{msgError}}</p>
    </form>
</section>